 DATACLEAN FOR DATASET

In [1]:
import pandas as pd

# Replace 'your_dataset.csv' with the path to your dataset file
file_path = "D:\DOWNLOADS\8th Sem\Mini Project\data_jobs.csv"

# Load the dataset
try:
    df = pd.read_csv(file_path)
    print("Dataset successfully uploaded!")
    print(f"Shape of the dataset: {df.shape}")  # Prints the number of rows and columns
    print("\nFirst 5 rows of the dataset:")
    print(df.head())  # Displays the first 5 rows of the dataset
except FileNotFoundError:
    print("Error: File not found. Please check the file path.")
except Exception as e:
    print(f"An error occurred: {e}")

<>:4: SyntaxWarning: invalid escape sequence '\D'
<>:4: SyntaxWarning: invalid escape sequence '\D'
C:\Users\USER\AppData\Local\Temp\ipykernel_2700\847292614.py:4: SyntaxWarning: invalid escape sequence '\D'
  file_path = "D:\DOWNLOADS\8th Sem\Mini Project\data_jobs.csv"
C:\Users\USER\AppData\Local\Temp\ipykernel_2700\847292614.py:8: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

Dataset successfully uploaded!
Shape of the dataset: (785741, 18)

First 5 rows of the dataset:
        job_title_short                                          job_title  \
0  Senior Data Engineer  Senior Clinical Data Engineer / Principal Clin...
1          Data Analyst                                       Data Analyst
2         Data Engineer  Data Engineer/Scientist/Analyst, Mid or Senior...
3         Data Engineer  LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...
4         Data Engineer                             Data Engineer- Sr Jobs

                   job_location             job_via job_schedule_type  \
0                 Watertown, CT     via Work Nearby         Full-time
1  Guadalajara, Jalisco, Mexico    via BeBee México         Full-time
2               Berlin, Germany        via LinkedIn         Full-time
3               San Antonio, TX   via Diversity.com         Full-time
4                Washington, DC  via Clearance Jobs         Full-time

   job_work_from_home       search_location   job_posted_date  \
0               False  Texas, United States  16-06-2023 13:44
1               False                Mexico  14-01-2023 13:18
2               False               Germany  10-10-2023 13:14
3               False  Texas, United States  04-07-2023 13:01
4               False                 Sudan  07-08-2023 14:29

   job_no_degree_mention  job_health_insurance    job_country salary_rate  \
0                  False                 False  United States         NaN
1                  False                 False         Mexico         NaN
2                  False                 False        Germany         NaN
3                   True                 False  United States         NaN
4                  False                 False          Sudan         NaN

   salary_year_avg experience_level  salary_hour_avg  \
0              NaN        Mid-level              NaN
1              NaN           Senior              NaN
2              NaN           Senior              NaN
3              NaN           Senior              NaN
4              NaN           Senior              NaN

                   company_name  \
0          Boehringer Ingelheim
1    Hewlett Packard Enterprise
2      ALPHA Augmented Services
3  Southwest Research Institute
4               Kristina Daniel

                                          job_skills  \
0                                                NaN
1  ['r', 'python', 'sql', 'nosql', 'power bi', 't...
2  ['python', 'sql', 'c#', 'azure', 'airflow', 'd...
3  ['python', 'c++', 'java', 'matlab', 'aws', 'te...
4  ['bash', 'python', 'oracle', 'aws', 'ansible',...

                                     job_type_skills
0                                                NaN
1  {'analyst_tools': ['power bi', 'tableau'], 'pr...
2  {'analyst_tools': ['dax'], 'cloud': ['azure'],...
3  {'cloud': ['aws'], 'libraries': ['tensorflow',...
4  {'cloud': ['oracle', 'aws'], 'other': ['ansibl...

In [2]:
df.columns

Index(['job_title_short', 'job_title', 'job_location', 'job_via',
       'job_schedule_type', 'job_work_from_home', 'search_location',
       'job_posted_date', 'job_no_degree_mention', 'job_health_insurance',
       'job_country', 'salary_rate', 'salary_year_avg', 'experience_level',
       'salary_hour_avg', 'company_name', 'job_skills', 'job_type_skills'],
      dtype='object')

In [3]:
# Columns to drop
columns_to_drop = ["job_title","job_via","search_location","job_posted_date","job_no_degree_mention","job_health_insurance","job_skills","salary_hour_avg"]  # Replace with the names of columns you want to drop

# Drop the specified columns
df = df.drop(columns=columns_to_drop)

print("Columns dropped successfully!")
print(f"Updated shape of the dataset: {df.shape}")
print("\nFirst 5 rows of the updated dataset:")
print(df.head())

Columns dropped successfully!
Updated shape of the dataset: (785741, 10)

First 5 rows of the updated dataset:
        job_title_short                  job_location job_schedule_type  \
0  Senior Data Engineer                 Watertown, CT         Full-time
1          Data Analyst  Guadalajara, Jalisco, Mexico         Full-time
2         Data Engineer               Berlin, Germany         Full-time
3         Data Engineer               San Antonio, TX         Full-time
4         Data Engineer                Washington, DC         Full-time

   job_work_from_home    job_country salary_rate  salary_year_avg  \
0               False  United States         NaN              NaN
1               False         Mexico         NaN              NaN
2               False        Germany         NaN              NaN
3               False  United States         NaN              NaN
4               False          Sudan         NaN              NaN

  experience_level                  company_name  \
0        Mid-level          Boehringer Ingelheim
1           Senior    Hewlett Packard Enterprise
2           Senior      ALPHA Augmented Services
3           Senior  Southwest Research Institute
4           Senior               Kristina Daniel

                                     job_type_skills
0                                                NaN
1  {'analyst_tools': ['power bi', 'tableau'], 'pr...
2  {'analyst_tools': ['dax'], 'cloud': ['azure'],...
3  {'cloud': ['aws'], 'libraries': ['tensorflow',...
4  {'cloud': ['oracle', 'aws'], 'other': ['ansibl...

In [4]:
missing_values = df.isnull().sum()

# Print columns with missing values and their counts
if missing_values.any():
    print("Missing values found in the dataset:")
    print(missing_values[missing_values > 0])
else:
    print("No missing values found in the dataset.")

Missing values found in the dataset:
job_location           1045
job_schedule_type     12667
job_country              49
salary_rate          752674
salary_year_avg      763738
experience_level     776386
company_name             18
job_type_skills      117037
dtype: int64

In [5]:
df_cleaned = df.dropna()

# Check if all missing values are removed
print("\nMissing values after removing rows:")
print(df_cleaned.isnull().sum())

# Display the shape of the cleaned dataset
print(f"\nOriginal dataset shape: {df.shape}")
print(f"Cleaned dataset shape: {df_cleaned.shape}")

Missing values after removing rows:
job_title_short       0
job_location          0
job_schedule_type     0
job_work_from_home    0
job_country           0
salary_rate           0
salary_year_avg       0
experience_level      0
company_name          0
job_type_skills       0
dtype: int64

Original dataset shape: (785741, 10)
Cleaned dataset shape: (301, 10)

In [6]:
df_cleaned1= df_cleaned.drop_duplicates(subset=['job_title_short', 'job_location', 'job_country','company_name'], keep='first')
print(df_cleaned1)
print(f"\nOriginal dataset shape: {df_cleaned.shape}")
print(f"Cleaned dataset shape: {df_cleaned1.shape}")

          job_title_short                             job_location  \
28         Data Scientist  San José Province, San José, Costa Rica
77          Data Engineer                            Arlington, VA
92          Data Engineer                                 Anywhere
100        Data Scientist                        Mountain View, CA
109          Data Analyst                                 Anywhere
...                   ...                                      ...
9255       Data Scientist                             Westlake, TX
9314        Data Engineer                           Plantation, FL
9329  Senior Data Analyst                                 Anywhere
9340        Data Engineer                 New York, NY (+3 others)
9344         Data Analyst                                 Anywhere

     job_schedule_type  job_work_from_home    job_country salary_rate  \
28           Full-time               False     Costa Rica        year
77           Full-time               False          Sudan        year
92           Full-time                True  United States        year
100          Full-time               False  United States        year
109          Full-time                True  United States        year
...                ...                 ...            ...         ...
9255         Full-time               False  United States        year
9314         Full-time               False  United States        year
9329         Full-time                True  United States        year
9340         Full-time               False  United States        year
9344         Full-time                True  United States        year

      salary_year_avg experience_level  \
28           109500.0        Mid-level
77           140000.0        Mid-level
92           120000.0        Mid-level
100          228222.0           Senior
109           89000.0           Senior
...               ...              ...
9255         111000.0      Entry-level
9314         135000.0        Mid-level
9329         126000.0           Senior
9340         215000.0        Mid-level
9344          83000.0        Mid-level

                                           company_name  \
28                                             Netskope
77                                           Intelletec
92                                         Apex Systems
100                                              TikTok
109                     Get It Recruit - Transportation
...                                                 ...
9255                                          Robinhood
9314                                        Robert Half
9329                                   Cityblock Health
9340                                            Datadog
9344  Alameda Health Consortium/Community Health Cen...

                                        job_type_skills
28    {'analyst_tools': ['excel'], 'libraries': ['gd...
77    {'analyst_tools': ['tableau'], 'cloud': ['orac...
92                   {'programming': ['sql', 'python']}
100   {'programming': ['sql', 'r', 'python'], 'webfr...
109   {'analyst_tools': ['alteryx', 'tableau'], 'pro...
...                                                 ...
9255  {'analyst_tools': ['looker', 'tableau'], 'prog...
9314  {'analyst_tools': ['power bi'], 'async': ['jir...
9329  {'analyst_tools': ['looker', 'tableau'], 'clou...
9340  {'libraries': ['spark'], 'programming': ['scal...
9344  {'analyst_tools': ['sas', 'excel', 'tableau'],...

[282 rows x 10 columns]

Original dataset shape: (301, 10)
Cleaned dataset shape: (282, 10)

In [7]:
output_file = "D:\DOWNLOADS\8th Sem\Mini Project\DATA_CLEAN1.csv"
df_cleaned1.to_csv(output_file, index=False)

print(f"Cleaned dataset saved as '{output_file}'.")

Cleaned dataset saved as 'D:\DOWNLOADS\8th Sem\Mini Project\DATA_CLEAN1.csv'.

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\USER\AppData\Local\Temp\ipykernel_2700\2977953370.py:1: SyntaxWarning: invalid escape sequence '\D'
  output_file = "D:\DOWNLOADS\8th Sem\Mini Project\DATA_CLEAN1.csv"